.containerContent {
  max-width: 800px;
  width: 100%;
}

h1 {
  margin-top: 1rem;
  text-align: center;
  color: #ffffff;
}

.topoInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.inputQuantValue {
  display: flex;
  gap: 1rem;
}

.inputQuantValue .containerLabelInputs {
  width: 50%;
  margin: 0.5em auto;
}

.topoInputs button {
  margin-top: 1em;
  width: 70%;
  padding: 0.5em;
  border: none;
  border-radius: 20px;
  outline: none;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(127, 172, 255);
}

.containerLabelInputs {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.containerLabelInputs input {
  outline: 0;
  padding: 0.4rem 0;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 20px;
  border: none;
}

.sectionTable {
  margin-top: 3rem;
  /* display: flex; */
  justify-content: center;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 10px;
  width: 30%;

  overflow-y: auto;
  max-width: 300px;
  white-space: nowrap;
}

th {
  background-color: rgb(35, 167, 255);
  font-weight: bold;
}

.tdButton {
  background-color: transparent;
  border: none;
  text-align: justify;
  width: 10%;
  padding: 0;
}

.tdButton button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
}

@media screen and (max-width: 410px) {
  h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  .inputQuantValue {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    width: 100%;
  }

  .inputQuantValue .containerLabelInputs {
    width: 45%;
    margin: 0.5em 0.2px;
  }
  table {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 90%;
  }

  .tdButton Button {
    font-size: 1.4rem;
  }

  th,
  td {
    max-width: 80px;
  }
}
