* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    180deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(66, 123, 222, 1) 56%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
}
